<%= content_for :page_title, "Список направлений" %>

<% content_for :local_navigation do %>
  <%= link_to "&larr; назад к списку конференций".html_safe, manage_root_path %>
<% end %>

<div class="dashboard">
  <div class="wrapper">
    <% if collection.any? %>
      <ul>
        <%= render collection %>
      </ul>
    <% else %>
      <div class="empty">
        Нет заявок от экспертов, ожидающих подтверждения.
      </div>
    <% end %>
  </div>
</div>
