<li>
  <span class="user_name" style='float:left;'><%= index %>. <%= expert_claim.user if controller_path.match(/manage/) %></span>

  <% if controller_path.match(/manage/) %>
    <div class="actions" style='margin: 0 0 0 10px; float: left;'>
      <%= link_to 'удалить', [:manage, expert_claim.conference, expert_claim], :method => :delete, :confirm => t(:confirm), :class => :button %>
    </div>
  <% end %>
</li>
