<ul>
  <li><%= link_to 'Неутвержденные заявки', with_state_manage_expert_claims_path(:pending) %></li>
  <li><%= link_to 'Утвержденные заявки', with_state_manage_expert_claims_path(:approved) %></li>
</ul>

<ul>
  <%= render @expert_claims %>
</ul>
