<h1>Спасибо, мы рассмотрим вашу заявку в ближайшее время.</h1>

# TODO: написать текст, в котором говорится, что после утверждения заявки эксперту будет отправлено письмо (еслиф мы конечно будем слать их, что, в принципе, было бы неплохо)
