<h1>Ура! Ваша заявка успешно подтверждена.</h1>

<h2>
  Теперь вы можете добавлять доклады к проекту
  <p><%= @project_member_claim.project %></p>
</h2>

# TODO: наверное рисовать кнопку добавления докладов сразу тут
