<div class="esp_auth_header_wrapper">
  <div class="esp_auth_header">
    <% if current_user %>
      <span class="current_user"><%= current_user.sso_auth_name %></span>
      <%= link_to("Выход", '/sign_out', :class => "signout_icon") %>
    <% else %>
      <%= link_to("Вход в систему", user_omniauth_authorize_path(:identity), :class => "signin_icon") %>
    <% end %>
  </div>
</div>
