<div class="esp_auth_header_wrapper">
  <div class="esp_auth_header">
    <% if current_user %>
      <span class="current_user"><%= current_user %></span>
      <%= link_to("Выход", sign_out_url, :class => "signout_icon", :method => :delete) %>
    <% else %>
      <%= link_to("Вход в систему", sign_in_url, :class => "signin_icon") %>
    <% end %>
  </div>
</div>
