app:
  secret:       SECRET

errors:
  key:          KEY
  url:          http://errors.openteam.ru

gpo:
  url:          http://

#solr:
#  url:          http://localhost:8982/solr

#sso:
#  key:          KEY
#  secret:       SECRET
#  url:          http://esp-sso.openteam.ru

#storage
  #url:         http://esp-storage.openteam.ru

deploy:
  gateway:              user@host
  application:          appname
  domain:               user@host
