app:
  secret:               secret

errors:
  key:                  api_key
  host:                 host

gpo:
  url:                  http://gpo.host

storage:
  url:                  http://storage.host
