@import compass/reset
@import compass/utilities
@import compass/css3
@import jquery_ui
@import gh_buttons
@import base
@import forms
@import screen

ul
  li
    ul
      margin: 0 0 0 10px

      li
        border: none !important

.empty
  color: #777
  margin: 10px 0 0 10px

.discourse_card
  div
    margin: 0 0 7px 0

.statistics
  border: 1px solid #ddd
  border-collapse: collapse
  margin: 0 0 25px 0
  width: 100%

  thead
    tr
      th
        border-bottom: 1px solid #ddd
        color: #777
        font-size: 14px
        padding: 5px 15px
        text-align: center

  tbody
    tr
      td
        border-bottom: 1px solid #ddd
        padding: 7px 15px
        text-align: center
