@import compass/reset
@import compass/utilities
@import compass/css3
@import jquery_ui
@import gh_buttons
@import base
@import forms
@import screen

ul
  li
    ul
      margin: 0 0 0 10px

      li
        border: none !important

.empty
  color: #777
  margin: 10px 0 0 10px

.discourse_card
  div
    margin: 0 0 7px 0
