<% if true %>
  <a href="#/signin" class="signin_icon" title="Войти в систему">Войти</a>
<% else %>
  <a href="#/dashboard" class="text" title="Перейти в профиль">Администраторов Админ Рутович</a>
  <a href="#/signout" class="signout_icon" title="Выйти из системы">Выйти</a>
<% end %>
